#restaurants {
	padding: 20px;
	max-height: 100vh;
	overflow: scroll;

	.restaurant {
		display: block;
		width: 100%;
		max-width: 768px;
		margin: 15px auto;
		padding: 10px;

		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

		.name {
			position: relative;
			color: #3c3c3c;
			font-size: 18px;
			transition: all 0.4s linear;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0px;
				transform: translateY(-50%) rotate(0deg);

				width: 30px;
				height: 30px;

				background-image: url('../img/arrow-down-mint.svg');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;

				transition: all 0.4s linear;
			}
		}

		.address {
			opacity: 0;
			max-height: 0px;
			transition: all 0.4s ease-out;

			color: #3c3c3c;
			font-size: 16px;
		}

		.streetView {
			opacity: 0;
			max-height: 0px;
		}

		.comment {
			opacity: 0;
			max-width: 100%;
			max-height: 0px;
			overflow: scroll;
		}

		&.open {
			.name {
				margin-bottom: 2px;

				&:after {
					transform: translateY(-50%) rotate(180deg);
				}
			}

			.address {
				opacity: 1;
				max-height: 1000px;
			}

			.streetView {
				opacity: 1;
				max-height: 300px;
			}

			.comment {
				background-color: #fff;
				border-radius: 8px;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
				opacity: 1;
				max-height: 200px;
				margin-top: 10px;
				padding: 10px;
			}
		}
	}
}
