body {
	background: #fff;
	color: #23272b;
}

#body-section {
	height: calc(100vh - 310px);
}

#header {
	height: 250px;
	background-image: url(img/header-bg.jpg);
	background-color: #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}

#header #logo-img {
	width: 300px;
}

.container {
	display: flex;
}

#map {
	width: 60%;
	height: 100vh;
}

#list {
	width: 40%;
	height: 100vh;
}

.accordion_button {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #333333;
	color: #fff;
	text-align: left;
	transition: background 0.2s;
}

.accordion_button::after {
	content: '\25be';
	float: right;
	transform: scale(1.5);
}

.accordion_button--active + .accordion_content {
	display: block;
}

.accordion_button--active {
	background: #555555;
}
.accordion_button--active::after {
	content: '\25b4';
}

.accordion_content {
	/* overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s; */
	padding: 0 15px;
	background: #eeeeee;
	display: none;
	overflow: auto;
}
